# .env file to set up your wordpress site
#
# run this before
#
# mkdir -p /var/docker/nginx-data
# mkdir -p /var/docker/mysql
# mkdir -p /var/docker/wpress/wp1
# mkdir -p /var/docker/wpress/wp1-content
# mkdir -p /var/docker/wpress/wp2
# mkdir -p /var/docker/wpress/wp2-content
#


#
# Network name
#
# Your container app must use a network connected to your webproxy
# https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion
#
NETWORK=webproxy


#
# Your local containers NAME
#
NGINX_WEB=nginx-web
DOCKER_GEN=nginx-gen
LETS_ENCRYPT=nginx-letsencrypt

#
# Mariadb container name
#
CONTAINER_DB_NAME=db



# Path to store your database
#DB_PATH=/path/to/your/local/database/folder
DB_PATH=/var/docker/mysql

# Root password for your database
MYSQL_ROOT_PASSWORD=#rootPassword#
# Database name, user and password for your wordpress
MYSQL_DATABASE=#DabaseName#
MYSQL_USER=#User#
MYSQL_PASSWORD=#PasswordUser#


# Max Log File Size
LOGGING_OPTIONS_MAX_SIZE=200k


#
# Set the IP address of the external access Interface
#
IP=0.0.0.0


NGINX_FILES_PATH=/var/docker/nginx-data


#
# WPRESS1
#
# Wordpress Container configuration
#
CONTAINER_WP_NAME1=wpress1
# Path to store your wordpress 1
WP_CORE1=/var/docker/wpress/wp1
WP_CONTENT1=/var/docker/wpress/wp1-content
# Table prefix
WORDPRESS_TABLE_PREFIX1=wp1
# Your domain (or domains)
DOMAINS1=domaine1.com,www.domaine1.com


#
# WPRESS2
#
# Wordpress Container configuration
#
CONTAINER_WP_NAME2=wpress2
# Path to store your wordpress 1
WP_CORE2=/var/docker/wpress/wp2
WP_CONTENT2=/var/docker/wpress/wp2-content
# Table prefix
WORDPRESS_TABLE_PREFIX2=wp2
# Your domain (or domains)
DOMAINS2=domaine2,www.domaine2.com




# for all
# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=trotroyanas@gmail.com



#
# Backup location
#
# This option should be used when backing up using the script in the repo:
# https://github.com/evertramos/docker-wordpress-backup
#BACKUP_PATH_NAME=/backup

#
# Crontab Rules
#
# Please only enable that if you know what you are doing, please refer to these samples:
#
# https://crontab.guru/examples.html
#
# And test if your setting is working
#
# Here is a basic rule for backup everyday at 04 am from monday to friday as of:
#
# https://crontab.guru/#00_04_*_*_1-5
#
#BACKUP_CRONTAB_RULE="00 04 * * 1-5"

